name: Publish Release
permissions:
  contents: read
  id-token: write
on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version-file: "24.x"
          cache: pnpm
          registry-url: https://registry.npmjs.org/

      - name: Update NPM
        run: npm i -g npm@"^9.5"

      - name: Install Dependencies
        run: pnpm install

      - name: Publish
        run: pnpm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}